# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Kata\Documents\RUC stuff from small lenovo\Ruc\Philipp RUC\5th Semester\Portfolio3_SoftwareDevelopment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
